@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  main {
    @media screen (max-width: 766px) {
      background: 'radial-gradient(circle at bottom center, rgba(253, 202, 64, 0.20) 10%, rgba(0, 0, 0, 0.8) 80%)'
    }
  }
}
